In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv("lottery.csv", sep=",")

In [3]:
data2 = pd.read_csv("lottery_modified2.csv", sep=",")

In [4]:
df1 = pd.DataFrame( data1)

In [5]:
df2 = pd.DataFrame( data2, columns = ["win 1", "win 2", "win 3"])

In [6]:
print(df2)

     win 1  win 2  win 3
0       12     35  1,743
1        6     61  1,873
2        7     46  2,029
3        9     50  1,791
4        4     47  1,727
..     ...    ...    ...
711      0      0     42
712      0      1     29
713      1      0    139
714      1      2    103
715      0      1     28

[716 rows x 3 columns]

In [7]:
df3 = pd.merge(df1, df2, left_index=True, right_index=True)

In [8]:
print(df3)

     round        date  first  second  third  fourth  fifth  sixth  bonus  \
0      716  2016.08.20      2       6     13      16     29     30     21
1      715  2016.08.13      2       7     27      33     41     44     10
2      714  2016.08.06      1       7     22      33     37     40     20
3      713  2016.07.30      2       5     15      18     19     23     44
4      712  2016.07.23     17      20     30      31     33     45     19
..     ...         ...    ...     ...    ...     ...    ...    ...    ...
711      5  2003.01.04     16      24     29      40     41     42      3
712      4  2002.12.28     14      27     30      31     40     42      2
713      3  2002.12.21     11      16     19      21     27     31     30
714      2  2002.12.14      9      13     21      25     32     42      2
715      1  2002.12.07     10      23     29      33     37     40     16

     win 1  win 2  win 3
0       12     35  1,743
1        6     61  1,873
2        7     46  2,029
3        9     50  1,791
4        4     47  1,727
..     ...    ...    ...
711      0      0     42
712      0      1     29
713      1      0    139
714      1      2    103
715      0      1     28

[716 rows x 12 columns]

In [9]:
df3.to_csv('merging_lottery.csv')

In [10]:
print(df3.iloc[:,:20])

     round        date  first  second  third  fourth  fifth  sixth  bonus  \
0      716  2016.08.20      2       6     13      16     29     30     21
1      715  2016.08.13      2       7     27      33     41     44     10
2      714  2016.08.06      1       7     22      33     37     40     20
3      713  2016.07.30      2       5     15      18     19     23     44
4      712  2016.07.23     17      20     30      31     33     45     19
..     ...         ...    ...     ...    ...     ...    ...    ...    ...
711      5  2003.01.04     16      24     29      40     41     42      3
712      4  2002.12.28     14      27     30      31     40     42      2
713      3  2002.12.21     11      16     19      21     27     31     30
714      2  2002.12.14      9      13     21      25     32     42      2
715      1  2002.12.07     10      23     29      33     37     40     16

     win 1  win 2  win 3
0       12     35  1,743
1        6     61  1,873
2        7     46  2,029
3        9     50  1,791
4        4     47  1,727
..     ...    ...    ...
711      0      0     42
712      0      1     29
713      1      0    139
714      1      2    103
715      0      1     28

[716 rows x 12 columns]