In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("lottery.csv", sep=",")

In [3]:
data

     round        date  first  second  third  fourth  fifth  sixth  bonus
0      716  2016.08.20      2       6     13      16     29     30     21
1      715  2016.08.13      2       7     27      33     41     44     10
2      714  2016.08.06      1       7     22      33     37     40     20
3      713  2016.07.30      2       5     15      18     19     23     44
4      712  2016.07.23     17      20     30      31     33     45     19
..     ...         ...    ...     ...    ...     ...    ...    ...    ...
711      5  2003.01.04     16      24     29      40     41     42      3
712      4  2002.12.28     14      27     30      31     40     42      2
713      3  2002.12.21     11      16     19      21     27     31     30
714      2  2002.12.14      9      13     21      25     32     42      2
715      1  2002.12.07     10      23     29      33     37     40     16

[716 rows x 9 columns]

In [4]:
df = pd.DataFrame( data, columns = ["first", "second", "third", "fourth", "fifth", "sixth", "bonus"])

In [5]:
first_df=df['first'].value_counts()

In [6]:
second_df=df['second'].value_counts()

In [7]:
third_df=df['third'].value_counts()

In [8]:
fourth_df=df['fourth'].value_counts()

In [9]:
fifth_df=df['fifth'].value_counts()

In [10]:
sixth_df=df['sixth'].value_counts()

In [11]:
bonus_df=df['bonus'].value_counts()

In [12]:
df_matrix = pd.concat([first_df, second_df, third_df, fourth_df, fifth_df, sixth_df, bonus_df], join='outer', axis=1)

In [13]:
df_matrix=df_matrix.fillna(0)

In [14]:
df_matrix['sum']=df_matrix['first']+df_matrix['second']+df_matrix['third']+df_matrix['fourth']+df_matrix['fifth']+df_matrix['sixth']+df_matrix['bonus']

In [15]:
df_matrix

    first  second  third  fourth  fifth  sixth  bonus    sum
1   106.0     0.0    0.0     0.0    0.0    0.0     25  131.0
2    77.0    16.0    0.0     0.0    0.0    0.0     22  115.0
3    69.0    24.0    2.0     0.0    0.0    0.0     17  112.0
4    69.0    29.0    4.0     0.0    0.0    0.0     18  120.0
5    60.0    37.0    4.0     1.0    0.0    0.0     13  115.0
6    53.0    22.0   11.0     3.0    0.0    0.0     20  109.0
7    45.0    44.0    9.0     0.0    0.0    0.0     18  116.0
8    36.0    47.0   15.0     3.0    0.0    0.0     18  119.0
9    22.0    34.0   12.0     3.0    1.0    0.0     15   87.0
10   28.0    43.0   23.0     1.0    1.0    0.0     15  111.0
11   26.0    40.0   19.0    12.0    0.0    0.0     16  113.0
12   21.0    44.0   17.0     9.0    1.0    0.0     15  107.0
13   18.0    38.0   35.0     8.0    1.0    0.0     21  121.0
14   20.0    34.0   35.0    13.0    1.0    0.0     14  117.0
15    8.0    32.0   37.0    19.0    2.0    0.0     13  111.0
16   16.0    24.0   25.0    22.0    2.0    0.0     18  107.0
17   13.0    31.0   32.0    22.0    6.0    0.0     17  121.0
18    5.0    29.0   40.0    18.0    7.0    0.0     10  109.0
19    8.0    22.0   37.0    17.0    9.0    1.0     14  108.0
20    2.0    25.0   44.0    24.0   14.0    4.0     15  128.0
21    3.0    13.0   30.0    26.0   10.0    3.0     19  104.0
22    3.0    14.0   31.0    21.0   10.0    2.0      9   90.0
23    1.0    17.0   24.0    30.0   14.0    2.0     13  101.0
24    2.0    10.0   30.0    34.0   17.0    2.0     16  111.0
25    1.0    11.0   26.0    35.0   21.0    4.0     14  112.0
26    2.0     6.0   28.0    34.0   24.0    5.0     17  116.0
27    0.0    11.0   30.0    40.0   22.0    8.0     20  131.0
28    0.0     3.0   22.0    24.0   29.0    5.0     14   97.0
29    1.0     5.0   17.0    30.0   32.0    5.0      7   97.0
30    0.0     3.0   20.0    29.0   22.0   10.0     18  102.0
31    0.0     2.0   14.0    38.0   32.0   11.0     16  113.0
32    0.0     2.0    5.0    32.0   31.0   13.0     14   97.0
33    0.0     1.0   10.0    37.0   36.0   15.0     21  120.0
34    0.0     1.0    7.0    32.0   41.0   29.0     12  122.0
35    1.0     0.0    7.0    20.0   37.0   24.0     20  109.0
36    0.0     1.0    5.0    23.0   37.0   27.0     10  103.0
37    0.0     1.0    6.0    17.0   43.0   38.0     16  121.0
38    0.0     0.0    2.0    10.0   44.0   35.0     17  108.0
39    0.0     0.0    1.0    11.0   43.0   42.0     16  113.0
40    0.0     0.0    0.0     9.0   39.0   66.0     12  126.0
41    0.0     0.0    0.0     5.0   37.0   41.0     10   93.0
42    0.0     0.0    0.0     3.0   24.0   60.0     16  103.0
43    0.0     0.0    0.0     1.0   19.0   77.0     28  125.0
44    0.0     0.0    0.0     0.0    7.0   90.0     15  112.0
45    0.0     0.0    0.0     0.0    0.0   97.0     12  109.0